<h2 style="color:#4C8BF4;"><img src="./img/icon_tetsi_transparent_windows.png" style="max-width: 30px;height: auto;" ><u>Go down and press back button, lock reason.</u></h2>
<br>
<p>Go down and press back button, lock reason.</p>
<br>
<p>Go down and press back button, lock reason.</p>
<br>
<p>Go down and press back button, lock reason.</p>
<br>
<p>Thanks!</p> 
<a href="./img/multimonitorw10.png"><img src="./img/multimonitorw10.png" border="0"></a>
<br>
<p>Con esto cada monitor mostrará sus aplicaciones abiertas de manera independiente.</p>
<br>
<p>Por otro lado, es posible que abramos una aplicación en la segunda pantalla y se nos abra en la principal. Para cambiar esto, tan solo arrastramos la aplicación a la pantalla en la que queremos que se abra, la cerramos y la volvemos a abrir. Así, cuando volvemos a abrirla, se abrirá en la pantalla elejida.</p>
<br>
<!--<p class="button" id="arriba">Volver arriba</p>
<br>-->
<p class="buttonwin" onclick="onBackKeyDown()"><img src="./img/volver.png" style="max-width: 143px;height: auto;" ></p>
<script>
        function onBackKeyDown() {
    // Handle the back button
    demo.openPage("./views/windows.html");
}
document.addEventListener("backbutton", onBackKeyDown, false);

		    
        
        
</script>